{% if include.caption %}
<figure>
    {% if include.href %}
    <a href="{{ include.href }}">
        <p style="text-align:center;"><img src="{{ include.src }}" alt="Image: {{ include.caption }}"></p>
    </a>
    {% else %}
    <p style="text-align:center;"><img src="{{ include.src }}" alt="Image: {{ include.caption }}"></p>
    {% endif %}
    <figcaption><span><center><i>{{ include.caption }}</i></center></span></figcaption>
</figure>
{% else %}
<figure>
    {% if include.href %}
    <a href="{{ include.href }}">
        <p style="text-align:center;"><img src="{{ include.src }}" alt="Image without caption"></p>
    </a>
    {% else %}
        <p style="text-align:center;"><img src="{{ include.src }}" alt="Image without caption"></p>
    {% endif %}
</figure>
{% endif %}